<html>

<head>
    <% include ../partials/head %>
        <script>
        </script>
</head>

<body>
    <div class="container">
        <h1>Health Bot Configuration</h1>

        <h3>
            Scenario Files
        </h3>

        <table>
            <tr>
                <th>File</th>
            </tr>
            <% for (var i = 0; i < files.length;  i++) { %>
                <tr>
                    <td>
                        <a href=editfile?file='<%=files[i]%>'>
                            <%=files[i] %>
                        </a>
                    </td>
                </tr>
                <% } %>
        </table>

       <div style="margin-top:30px">
        <a class='btn btn-primary' href='javascript:;'>
            Choose File...
            <input type="file" style='position:absolute;z-index:2;top:0;left:0;filter: alpha(opacity=0);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";opacity:0;background-color:transparent;color:transparent;' name="file_source" size="40"  onchange='$("#upload-file-info").html($(this).val());'>
        </a>
        &nbsp;
        <span class='label label-info' id="upload-file-info"></span>
        </div>
</div>
</body>

</html>