<html>

<head>
    <% include ../partials/head %>
        <script>
        </script>
</head>

<body>
    <div class="container">
        <h1>Health Bot Configuration</h1>

        <h3>
            Scenario Files
        </h3>

        <table>
            <tr>
                <th>File</th>
            </tr>
            <% for (var i = 0; i < files.length;  i++) { %>
                <tr>
                    <td>
                        <a href=editfile?file='<%=files[i]%>'>
                            <%=files[i] %>
                        </a>
                    </td>
                </tr>
                <% } %>
        </table>
</div>
</body>

</html>