<html>
    <head>
    <% include ../partials/head %>
        <script>
        </script>
    </head>
    
    <body>
        <h1>Health Bot Configuration</h1>        
        <script>
        </script>
    </body>
</html>